* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.hero {
  height: 100dvh;
  padding: 1rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin-block-end: 1rem;
}

.hero__image {
  height: 200px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero__content {
    text-align: center;
  }
}
